$background:#F3F6F9;
$table-background: #E4EAEE;
$form-field-border:#8F9BAA;
$text-sm-navy: #0B2640;
$table-row-alternating:#0B2640;
$text-gray: #717171;
$text-sm-gray: #606060;
$text-md-navy: #020D19;
$header-background: #020D19;
$text-sm-gray-details: #707070;
$horizontal-rule-gray: #9F9F9F;
$notifications-text-color: #EFEFEF;
$classified-banner: #32424E;
$classified-banner-text: #FAFAFA;
$left-nav-bar-highlight-left: #FAFAFA;
$left-nav-bar-text: #8F9BAA;
$additional-details-text: #8F9BAA;
$title-panel-background: #F3F6F9;
$photo-border: #00000029;
$left-nav-bar-text-highlight: #8F9BAA1A;
$notification: #C61D4B;
$left-nav-bar-horizontal-rule: #8F9BAA80;
$header-background: #020D19;
$header-underscore-highlight: #9AA5b4;
$photo-border-second: #4D4D4DA2;